* {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
body {
	background-color: #fff;
	color: #333;
	font-family: sans-serif;
	
}
.title {
	padding-top: 30px;
}

.brand {
	display: inline-block;
	width: 200px;
	height: 50px;
	text-align: center;
}
.brand-name {
	font-size: 2rem;
	padding-top: 5px;
	font-weight: 900;
}
.brand-avatar {
	display: inline-block;
	width: 50px;
	height: 50px;
	position: relative;
	float: left;
	padding-left: 15px;
}

.temp-text {
	opacity: 0.7;
	font-size: 4rem;
	font-weight: 900;
	border-left: 5px solid #333;
	padding-left: 10px;
	
}

.container {
	text-align: center;
	margin: 150px 100px;
}